/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# test coverage
coverage

# roster reports with PII
*.html

# google calendar credentials
.env
google_auth/credentials.json
google_auth/token.yaml
