/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# roster reports with PII
*.html

# google calendar credentials
.env
credentials.json
token.yaml
coverage
