/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# test coverage
coverage

# roster pages and schedule pages, which can contain PII
pages/*.html

# google auth credentials
.env
auth/*.json
auth/*.yaml
